.news-archive
	.wrapper.wrapper_padding
		.news-archive__main
			h1.news-archive__title.title Архив
			.news-archive__archive
				.news-archive__archive-section
					h3.news-archive__archive-title.title.title_left 2018 год
					ul.news__list.news-archive__archive-list
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-1.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-2.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-3.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-1.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-2.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-3.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
				.news-archive__archive-section
					h3.news-archive__archive-title.title.title_left 2017 год
					ul.news__list.news-archive__archive-list
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-1.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-2.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
						li.news__item
							a(href="/theNews/").news__item-link
								img(src="/img/news-3.jpg").news__item-image
								.news__item-cloak
							h3.news__item-title Donec quam felis, ultricies nec
							p.news__item-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis an sapien sodales molestie
							p.news__item-date 15.04.2018
			.specialists__pages
				img(src="/img/pages-listing-arrow-left.png").specialists__pages-arrow-left.specialists__pages-arrow
				.specialists__pages-numeration
					p 1
					p 2
					p 3
				img(src="/img/pages-listing-arrow-right.png").specialists__pages-arrow-left.specialists__pages-arrow