.comments-page.shadow
	.wrapper.wrapper_padding
		.comments-page__main
			.comments-page__title.title Отзывы
			.comments.comments_margin-top_45px
				ul.comments__list
					li.comments__comment
						img(src="/img/avatar.png", alt="").comments__comment-img
						.comments__comment-main
							.comments__comment-inform
								p.comments__comment-name Иван Иванов
								p.comments__comment-date 22.04.2018
							p.comments__comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis.
					li.comments__comment
						img(src="/img/avatar.png", alt="").comments__comment-img
						.comments__comment-main
							.comments__comment-inform
								p.comments__comment-name Иван Иванов
								p.comments__comment-date 22.04.2018
							p.comments__comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis.
					li.comments__comment
						img(src="/img/avatar.png", alt="").comments__comment-img
						.comments__comment-main
							.comments__comment-inform
								p.comments__comment-name Иван Иванов
								p.comments__comment-date 22.04.2018
							p.comments__comment-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis.
				h3.comments__title.comments__title_center Оставить отзыв
				form.comments__form
					.comments__form-main
						.comments__form-inputs
							input(type="text" value="Ваше имя").comments__form-input.js-clear-value
							input(type="text" value="Ваш e-mail").comments__form-input.js-clear-value
							.comments__form-photo
								.comments__form-photo-par Ваше фото
								.comments__form-photo-button.button Выберете файл
						textarea.comments__form-comment.js-clear-value Ваш отзыв
					.comments__form-button.button Отправить