.legal.shadow
	.wrapper.wrapper_padding
		.legal__main
			.legal__title.title Правовая инофрмация
			.legal__infopart
				.legal__infopart-title Реквизиты:
				.legal__infopart-item.legal__infopart-item_wrap
					p.legal__infopart-name Наименование:
					p.legal__infopart-value ООО «Медицинский Центр «EZRAMED»
				.legal__infopart-item.legal__infopart-item_wrap
					p.legal__infopart-name Фирменное наименование:
					p.legal__infopart-value «EZRAMED Сlinic»
				.legal__infopart-item.legal__infopart-item_multiline.legal__infopart-item_margin-top_40px
					p.legal__infopart-name Адрес:
					p.legal__infopart-value г. Омск, ул. Фрунзе, 38, 3 этаж
					p.legal__infopart-value г. Омск, ул. Фрунзе, 38, 3 этаж
				.legal__infopart-item.legal__infopart-item_multiline.legal__infopart-item_margin-top_40px
					p.legal__infopart-name Зарегестрировано:
					p.legal__infopart-value Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.legal__infopart-item.legal__infopart-item_margin-top_40px
					p.legal__infopart-name ОГРН:
					p.legal__infopart-value 094759047390
				.legal__infopart-item
					p.legal__infopart-name ИНН:
					p.legal__infopart-value 353544455266
				.legal__infopart-item
					p.legal__infopart-name КПП:
					p.legal__infopart-value 353535446664
				.legal__infopart-item
					p.legal__infopart-name ОКВЭД:
					p.legal__infopart-value 77896959567556
				.legal__infopart-item.legal__infopart-item_multiline.legal__infopart-item_margin-top_40px
					p.legal__infopart-name Расчётный счёт:
					p.legal__infopart-value № 111010110101001088 Ipsum dolor sit amet, consectetur adipiscing elit.
			.legal__infopart
				.legal__infopart-title График работы:
				.legal__infopart-item
					p.legal__infopart-value Пн- Пт: 10:00 - 19:00 <br/>Cб- Вс: 10:00 - 16:00
			.legal__infopart
				.legal__infopart-title Лицензии:
				.legal__infopart-item.legal__infopart-item_for-images
					img(src="/img/license-1.png", alt="").legal__infopart-image
					img(src="/img/license-2.png", alt="").legal__infopart-image
					img(src="/img/license-1.png", alt="").legal__infopart-image
					img(src="/img/license-2.png", alt="").legal__infopart-image
				.legal__infopart
				.legal__infopart-title Нормативно правовая информация
				.legal__infopart-item.legal__infopart-item_wrap
					p.legal__infopart-value Контакты органов исполнительной власти, по надзору в сфере здравоохранения и сфере защиты прав потребителей
					.legal__infopart-button.button Скачать
				.legal__infopart-item.legal__infopart-item_wrap
					p.legal__infopart-value Контакты органов исполнительной власти, по надзору в сфере здравоохранения и сфере защиты прав потребителей
					.legal__infopart-button.button Скачать

