.price{
	&_margin-bottom_25px{
		margin-bottom: 25px;
	}
	&__title{
		@include helvetica-medium;
		font-size: 16px;
		color: #3e3e3e;
	}
	&__list{
		margin-top: 15px;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: #f1f1f1;
		padding: 10px 17px;
		@include helvetica-light;
		font-size: 14px;
		color: #363636;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .17);
		margin-top: 5px;
		box-sizing: border-box;
		&-price{
			min-width: 60px;
			margin-left: 10px;
		}
	}
	&__inform{
		border-bottom: solid 1px #e0e0e1;
		border-left: solid 1px #e0e0e1;
		border-right: solid 1px #e0e0e1;
		padding:  15px 30px 20px 25px;
		@include helvetica-light;
		font-size: 13px;
	}
}