.diagnostics
	.wrapper.wrapper_padding
		.diagnostics__main
			.diagnostics__title.title Диагностика
			p.diagnostics__par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			ul.diagnostics__list
				li.diagnostics__item.diagnostics__item_lfk
					a(href="/lfk/").diagnostics__item-link
						h3.diagnostics__item-title ЛФК
						img(src="/img/button.jpg", alt="").diagnostics__item-img
				li.diagnostics__item.diagnostics__item_lfk
					a(href="/lfk/").diagnostics__item-link
						h3.diagnostics__item-title ЛФК
						img(src="/img/button.jpg", alt="").diagnostics__item-img
				li.diagnostics__item.diagnostics__item_lfk
					a(href="/lfk/").diagnostics__item-link
						h3.diagnostics__item-title ЛФК
						img(src="/img/button.jpg", alt="").diagnostics__item-img