.specialists{
	box-shadow: 0 5px 3px rgba(0, 0, 0, .15);
	padding-bottom: 50px;
	&__main{
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
	&__title{
		@include helvetica-bold;
		font-size: 22px;
		text-align: center;
		margin-top: 20px;
	}
	&__par, &__filter-par{
		@include helvetica-light;
		font-size: 14px;
	}
	&__par{
		margin-top: 50px;
	}
	&__filter{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		&-elements{
			display: flex;
			width: 100%;
			max-width: 390px;
		}
		&-select, &-button{
			height: 30px;
			font-size: 13px;
			@include helvetica-light;
		}
		&-select{
			width: 280px;
			outline: none;
			appearance: none !important;
			background-image: url('../img/arrow-for-select-mini.png');
			background-repeat: no-repeat;
			background-position: 95% center;
			padding-left: 10px;
			text-indent: 0.01px; 
  			text-overflow: '';
  			&::-ms-expand{
  				display: none;
  			}
		}
		&-button{
			width: 110px;
			background-color: $mainColor;
			color: #fff;
		}
		@include mq(750px, max){
			flex-direction: column;
			&-elements{
				margin-top: 30px;
			}
		}
	}
	&__department{
		margin-top: 50px;
		&-title{
			@include helvetica-medium;
			font-size: 16px;
			color: #464646;
			border-bottom: 1px solid #dedede;
			padding-bottom: 15px;
		}
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
	}
	&__link{
		display: flex;
	}
	&__specialist{
		width: 100%;
		max-width: 435px;	
		border: 1px solid #dcdcdc;
		margin-bottom: 10px;
		&-inform{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-left: 15px;
			padding: 10px;
		}
		&-name{
			@include helvetica-roman;
			font-size: 16px;
			color: #464646;
		}
		&-duty{
			@include helvetica-light;
			font-size: 14px;
			color: #8e8e8e;
			margin-top: 7px;
		}
		&-hour{
			display: flex;
			align-items: center;
			border-top: 1px solid #dcdcdc;
			padding-top: 10px;
			margin-top: 10px;
		}
		&-clock{
			margin-right: 10px;
		}
		&-time{
			@include helvetica-light;
			font-size: 12px;
			color: #8e8e8e;
		}

	}
	&__pages{
		display: flex;
		width: 205px;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		margin-top: 30px;
		&-arrow{
			cursor: pointer;
		}
		&-numeration{
			width: 100px;
			display: flex;
			justify-content: space-between;
			p{
				@include helvetica-light;
				font-size: 14px;
				color: #696969;
				cursor: pointer;
			}
		}
	}
	@include mq(950px, max){
		&__list{
			flex-direction: column;
			align-items: center;
		}
	}
	@include mq(470px, max){
		&__link{
			flex-direction: column;
		}
		&__specialist{
			&-photo{
				width: 100%;
				height: auto;
				margin-bottom: 30px;
			}
		}
	}
}