.service
	.wrapper.wrapper_padding
		.service__main
			h1.service__title Реабилитация
			.service__disc
				img(src="/img/service-2.jpg", alt="").service__img
				p.service__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis, ex ut molestie consequat, urna diam tempus diam, eget tincidunt quam ante quis neque. Nunc risus tellus, blandit eleifend lectus at, ornare rutrum lacus. Praesent in mauris ut dolor semper rhoncus. Nam elementum pellentesque sapien, id lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo a, pretium aliquet justo. Pellentesque viverra faucibus sem eu convallis. In ut faucibus enim.<br/>Vestibulum fermentum est sed tellus pellentesque aliquam. Curabitur dolor diam, dictum in dui ut, hendrerit euismod nunc. Phasellus quis rutrum libero. Aenean commodo id ante quis efficitur. Vestibulum bibendum lacinia quam quis interdum.
			.price
				h4.price__title Прайс - лист
				ul.price__list
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.
					li.price__item
						p.price__item-name Эхокардиография (ЭХО-КГ) доплерометрией сосудов
						p.price__item-price 2 500 р.