.services
	.wrapper.wrapper_padding
		.services__main
			h1.services__title Услуги
			p.services__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis, ex ut molestie consequat, urna diam tempus diam, eget tincidunt quam ante quis neque. Nunc risus tellus, blandit eleifend lectus at, ornare rutrum lacus. Praesent in mauris ut dolor semper rhoncus. Nam elementum pellentesque sapien, id lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo a, pretium aliquet justo. Pellentesque viverra faucibus sem eu convallis.
			.services__slider-elements
				img(src="/img/about-clinic_arrow-left.png").clinic-photo__arrow-left.clinic-photo__arrow
				.services__slider-container
					div.services__list#services__slider
						div.services__service
							a(href="/diagnostics/").services__service-link
								img(src="/img/service-1.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Диагностика
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-2.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Реабилитация
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-3.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Спортивная медицина
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-4.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Medical Fitness
						div.services__service
							a(href="/diagnostics/").services__service-link
								img(src="/img/service-1.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Диагностика
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-2.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Реабилитация
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-3.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Спортивная медицина
						div.services__service
							a(href="/service/").services__service-link
								img(src="/img/service-4.jpg").services__service-image
								p.services__service-par Mid lobortis magna tincidunt ut. Proin metus felis, tincidunt ut leo  Proin metus tincidunt ut leo a.
							h3.services__service-title Medical Fitness
				img(src="/img/about-clinic_arrow-right.png").clinic-photo__arrow-left.clinic-photo__arrow