.questions
	.wrapper.wrapper_padding
		.questions__main
			h1.questions__title.title Вопросы и ответы
			ul.questions__questions-list
				li.questions__questions-item
					.questions__question
						.questions__question-inform
							.questions__question-title Вопрос:
							.questions__question-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id elementum massa, volutpat?
						img(src="/img/arrow-for-select.png", alt="").questions__question-arrow
					.questions__answer
						.questions__question-inform
							.questions__question-title Ответ:
							.questions__question-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id elementum massa, volutpat dapibus orci. Ut vitae velit nisi.
				li.questions__questions-item
					.questions__question
						.questions__question-inform
							.questions__question-title Вопрос:
							.questions__question-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id elementum massa, volutpat?
						img(src="/img/arrow-for-select.png", alt="").questions__question-arrow
				li.questions__questions-item
					.questions__question
						.questions__question-inform
							.questions__question-title Вопрос:
							.questions__question-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id elementum massa, volutpat?
						img(src="/img/arrow-for-select.png", alt="").questions__question-arrow
					.questions__answer
						.questions__question-inform
							.questions__question-title Ответ:
							.questions__question-par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id elementum massa, volutpat dapibus orci. Ut vitae velit nisi.
				.comments
					ul.comments__list
						h3.comments__title.comments__title_center Задать вопрос
						form.comments__form
							.comments__form-main
								.comments__form-inputs
									input(type="text" value="Ваше имя").comments__form-input.js-clear-value
									input(type="text" value="Ваш e-mail").comments__form-input.js-clear-value
									input(type="text" value="Ваш телефон").comments__form-input.js-clear-value
								textarea.comments__form-comment.js-clear-value Ваш отзыв
							.comments__form-button.button Отправить