footer.footer
	.wrapper.wrapper_padding
		.footer__main
			img(src="/img/logo.png").footer__logo
			p.footer__copyright Медецинский центр “EZRAMED”. Все права защищены. 2018
			.footer__buttons
				.footer__appointment.footer__button.button ЗАПИСЬ НА ПРИЁМ
				.footer__question.footer__button.button ЗАДАТЬ ВОПРОС
