header.header
	.wrapper.wrapper_padding
		.header__main
			.header__logo
				a(href="/")
					img.header__logo-image(src="/img/logo.png")
			.header__info Центр восстановительного лечения и физической реабилитации
			.header__adress Адрес:<br/><span>г. Омск, ул. Фрунзе, 38, 3 этаж</span>
			.header__telephone Телефон: <br/><span>(3812) <span>333-454</span></span>
			.header__blind-button.button ДЛЯ СЛАБОВИДЯЩИХ
					
							
							
