.specialists
	.wrapper.wrapper_padding
		.specialists__main
			h1.specialists__title Специалисты
			p.specialists__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis a sapien sodales molestie eget id sem. Cras tempus, nunc in hendrerit posuere, libero turpis aliquam elit, vitae finibus nunc massa quis sapien. Pellentesque congue mi nisi. Integer iaculis, ex ut molestie consequat, urna diam tempus diam, eget tincidunt quam ante quis neque. Nunc risus tellus, blandit eleifend lectus at. ornare rutrum lacus. Praesent in mauris ut dolor semper rhoncus.
			form.specialists__filter
				p.specialists__filter-par Чтобы найти врача конкретного отделения, воспользуйтесь фильтром
				.specialists__filter-elements
					select.specialists__filter-select
						option(value="Все отделения").specialists__filter-select Все отделения
						option(value="Все отделения").specialists__filter-select Все отделения
						option(value="Все отделения").specialists__filter-select Все отделения
						option(value="Все отделения").specialists__filter-select Все отделения
						option(value="Все отделения").specialists__filter-select Все отделения
					.specialists__filter-button.button Найти
			.specialists__department
				h3.specialists__department-title Кардиохирургия
				ul.specialists__list
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
				.specialists__department
				h3.specialists__department-title Остеопатия
				ul.specialists__list
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
				.specialists__department
				h3.specialists__department-title Травмотология
				ul.specialists__list
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-1.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Сидоров Константин Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-2.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Иванов Андрей Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-3.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Ковавлёв Павел Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00
					li.specialists__specialist
						a(href="/specialist/").specialists__link
							img(src="/img/doctor-4.jpg").specialists__specialist-photo
							.specialists__specialist-inform
								p.specialists__specialist-name Алексеев Максим Анатольевич
								p.specialists__specialist-duty Зав. отд. кардиохирургической реанимации
								.specialists__specialist-hour
									img(src="/img/clock.png").specialists__specialist-clock
									p.specialists__specialist-time Пн-Пт: 9:00 - 17:00

			.specialists__pages
				img(src="/img/pages-listing-arrow-left.png").specialists__pages-arrow-left.specialists__pages-arrow
				.specialists__pages-numeration
					p 1
					p 2
					p 3
				img(src="/img/pages-listing-arrow-right.png").specialists__pages-arrow-left.specialists__pages-arrow