.contacts
	.wrapper.wrapper_padding
		.contacts__main
			h1.contacts__title Контакты
			.contacts__content
				.contacts__map#map
				.contacts__contacts
					.contacts__contact
						img(src="/img/label.png").contacts__contact-img
						p.contacts__contact-par г. Омск, ул Фрунзе 38, 3 этаж
					.contacts__contact
						img(src="/img/old-phone.png").contacts__contact-img
						p.contacts__contact-par (3812) 21-46-61
					.contacts__contact
						img(src="/img/mail.png").contacts__contact-img
						p.contacts__contact-par ezramed@pochta.com
					.contacts__contact.contacts__contact_start
						img(src="/img/calendar.png").contacts__contact-img
						p.contacts__contact-par Режим работы:<br/><span>Пн-пт - 8:00 до 20:00<br/>Cб-вс - 9:00 до 18:00</span>
					.contacts__par Зарегистрировано: <br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.contacts__jur-data
						p.contacts__par <span>ОГРН:</span> 1192910191919
						p.contacts__par <span>ИНН:</span> 1192910191919
						p.contacts__par <span>КПП:</span> 1192910191919
						p.contacts__par <span>ОКВЭД:</span> 1192910191919
					.contacts__questions
						.contacts__par Возникли вопросы? Задайте их нам
						.contacts__button.button Задать вопрос
