.articles
	.wrapper
		.articles__main
			.articles__title.title Статьи
			ul.block-4__articles
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/gomeopat.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali dolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/consultation.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Dolore magna alidolor sit amet, consectetur
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/gomeopat.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali dolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/consultation.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Dolore magna alidolor sit amet, consectetur
			ul.block-4__articles
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/gomeopat.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali dolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/consultation.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Dolore magna alidolor sit amet, consectetur
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/gomeopat.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali dolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
				li.block-4__article
					a(href="/article/").block-4__article-link
						img(src="/img/consultation.jpg").block-4__article-image
						.block-4__article-inform
							p.block-4__article-data 20.04.2018
							h3.block-4__article-title 10 привычек для идеального здоровья
							p.block-4__article-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Dolore magna alidolor sit amet, consectetur
			.articles__button.button ПОКАЗАТЬ ВСЕ СТАТЬИ