doctype
html
	head
		include ../../includes/common/head.pug
		+head('Вопросы и ответы', false)
	body
		include ../../includes/common/header.pug
		.nav.nav_dark
			.wrapper.wrapper_padding
				.nav__main
					ul.nav__list
						li.nav__item
							a.nav__link(href="/aboutCompany/") О КЛИНИКЕ
						li.nav__item
							a.nav__link(href="/forPatients/") ПАЦИЕНТАМ
						li.nav__item
							a.nav__link(href="/specialists/") СПЕЦИАЛИСТЫ
						li.nav__item
							a.nav__link(href="/services/") УСЛУГИ
						li.nav__item
							a.nav__link(href="/news/") НОВОСТИ
						li.nav__item
							a.nav__link(href="/contacts/") КОНТАКТЫ
					.nav__button.button ЗАПИСАТЬСЯ НА ПРИЕМ
		.breadcrumbs
			a(href="/") Главная
			a(href="/forPatients/") / Пациентам
			p / Вопросы и ответы
		include ../../includes/questions/questions.pug
		include ../../includes/common/footer.pug