.block-1
	.wrapper.wrapper_padding
		.block-1__main
			.block-1__content
				.block-1__arrows
					img(src="/img/light-arrow-left.png").block-1__arrow.block-1__arrow-left
					img(src="/img/light-arrow-right.png").block-1__arrow.block-1__arrow-right
				.block-1__home-slider
					.block-1__inform
						h2.block-1__title ДИАГНОСТИКА <br/>В ЭЗРАМЕД-КЛИНИК
						p.block-1__par “Эзрамед Клиник” - первый в Омске Центр восстановительного лечения, физической реабилитации и спортивной медицины, основанный на междисциплинарном врачебном подходе к предоставлению высококачественной медицинской помощи.
					.block-1__inform
						h2.block-1__title ДИАГНОСТИКА <br/>В ЭЗРАМЕД-КЛИНИК
						p.block-1__par “Эзрамед Клиник” - первый в Омске Центр восстановительного лечения, физической реабилитации и спортивной медицины, основанный на междисциплинарном врачебном подходе к предоставлению высококачественной медицинской помощи.
					.block-1__inform
						h2.block-1__title ДИАГНОСТИКА <br/>В ЭЗРАМЕД-КЛИНИК
						p.block-1__par “Эзрамед Клиник” - первый в Омске Центр восстановительного лечения, физической реабилитации и спортивной медицины, основанный на междисциплинарном врачебном подходе к предоставлению высококачественной медицинской помощи.
			img(src="/img/home_block-1_main-image.png").block-1__main-image