.block-5
	img(src="/img/light-arrow-left.png").block-5__arrow.block-5__arrow-left
	img(src="/img/light-arrow-right.png").block-5__arrow.block-5__arrow-right
	.wrapper.wrapper_padding
		.block-5__main
			.block-5__home-slider
				.block-5__slide
					.block-5__human
						img(src="/img/pavel.png").block-5__human-image
					h2.block-5__title Кондратьев Павел
					p.block-5__par " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alidolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
					p.block-5__par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali... ”
				.block-5__slide
					.block-5__human
						img(src="/img/pavel.png").block-5__human-image
					h2.block-5__title Кондратьев Павел
					p.block-5__par " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alidolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
					p.block-5__par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali... ”
				.block-5__slide
					.block-5__human
						img(src="/img/pavel.png").block-5__human-image
					h2.block-5__title Кондратьев Павел
					p.block-5__par " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alidolor sit amet, consectetur Аdipiscing elit orem ipsum dolor sit amet, consectetur adipiscing elit.
					p.block-5__par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali... ”