.block-6
	.wrapper.wrapper_padding
		.block-6__main
			h2.block-6__title Контакты
			.block-6__content
				.block-6__map#map
				.block-6__contacts
					.block-6__contact
						img(src="/img/label.png").block-6__contact-img
						p.block-6__contact-par г. Омск, ул Фрунзе 38, 3 этаж
					.block-6__contact
						img(src="/img/old-phone.png").block-6__contact-img
						p.block-6__contact-par (3812) 21-46-61
					.block-6__contact
						img(src="/img/mail.png").block-6__contact-img
						p.block-6__contact-par ezramed@pochta.com
					.block-6__contact.block-6__contact_start
						img(src="/img/calendar.png").block-6__contact-img
						p.block-6__contact-par Режим работы:<br/><span>Пн-пт - 8:00 до 20:00<br/>Cб-вс - 9:00 до 18:00</span>

