.block-7
	.wrapper.wrapper_padding
		.block-7__main
			h2.block-7__title Запишитесь на приём прямо сейчас
			hr.block-7__line
			form.block-7__form
				h4.block-7__form-title Заполните форму
				select(name="department").block-7__form-select
					option(value="Отделение").block-7__form-option Отделение
					option(value="Отделение").block-7__form-option Отделение
					option(value="Отделение").block-7__form-option Отделение
					option(value="Отделение").block-7__form-option Отделение
					option(value="Отделение").block-7__form-option Отделение
				select(name="direction").block-7__form-select
					option(value="Направление").block-7__form-option Направление
					option(value="Направление").block-7__form-option Направление
					option(value="Направление").block-7__form-option Направление
					option(value="Направление").block-7__form-option Направление
					option(value="Направление").block-7__form-option Направление
				input(type="text" value="Ваше имя").block-7__form-input.js-clear-value
				input(type="text" value="Ваш телефон").block-7__form-input.js-clear-value
				input(type="text" value="Ваш e-mail").block-7__form-input.js-clear-value
				.block-7__form-oclock
					p.block-7__form-par Желаемая дата и вермя
					input(type="text" id="block-7_form-date" value="27/04/18").block-7__form-date
					input(type="text" id="block-7_form-time" value="9:50").block-7__form-time
				.block-7__form-button.button ОТПРАВИТЬ
				p.block-7__form-phone Или звоните по телефону: <span>(3812) 21-46-61</span>
