.block-3
	.wrapper
		.block-3__main
			h2.block-3__title EZRAMED-Clinic - гарантия здоровья
			.block-3__inform
				.block-3__tabs
					.block-3__tab
						img(src="/img/physiotherapy.jpg").block-3__tab-img
						.block-3__tab-content
							h3.block-3__tab-title Спортивная медицина
							p.block-3__tab-par Наши специалисты оказывают высококвалифицированную консультативно-диагностическую и специализированную (в том числе высокотехнологичную) помощь в области спортивной медицины.
							p.block-3__tab-par Специалисты отделения лечат различные травмы и заболевания с максимальным сохранением.
							.block-3__tab-button.button ЗАПИСАТЬСЯ НА ПРИЁМ
						.block-3__tab-arrows
							img(src="/img/top-arrow.png").block-3__tab-arrow
							img(src="/img/bottom-arrow.png").block-3__tab-arrow
				ul.block-3__points
					li.block-3__point ДИГНОСТИКА
					li.block-3__point.block-3__point_current СПОРТИВНАЯ МЕДИЦИНА
					li.block-3__point ФИЗИЧЕСКАЯ РЕАБИЛИТАЦИЯ
					li.block-3__point MEDICAL FITNESS
					li.block-3__point ПСИХОТЕРАПИЯ
					li.block-3__point КОРРЕКЦИЯ ФИГУРЫ И СНИЖЕНИЕ ВЕСА
					li.block-3__point АДАПТИВНАЯ ФИЗИЧЕСКАЯ КУЛЬТУРА
					li.block-3__point ЛЕЧЕНИЕ ОПОРНО-ДВГАТЕЛЬНОГО АППАРТА
					li.block-3__point ТЕЛЕМЕДИЦИНА
					li.block-3__point ОСТЕОПАТИЯ