.block-2
	.wrapper
		.block-2__main
			.block-2__inform
				.block-2__title-block
					p.block-2__subtitle ЭЗРАМЕД-КЛИНИК
					h2.block-2__title Почему нам доверяют
				.block-2__par «Эзрамед Клиник» - это сочетание комфорта, быстроты, интенсивности лечения с высокими стандартами восстановительной медицины, физической реабилитации и спортивной медицины. А также реализация образовательных проектов в тесном сотрудничестве с врачами.
			ul.block-2__advantages
				li.block-2__advantage
					img(src="/img/patient.png").block-2__advantage-image
					.block-2__advantage-inform
						h3.block-2__advantage-title Инидивидуальный подход
						p.block-2__advantage-par Мы делаем акцент на индивидуальном подходе к пациенту: большая часть мероприятий и процедур проводится один на один с инструктором.
				li.block-2__advantage
					img(src="/img/doctor.png").block-2__advantage-image
					.block-2__advantage-inform
						h3.block-2__advantage-title Иностранные специалисты
						p.block-2__advantage-par Мы привлекаем к сотрудничеству ведущих специалистов Израиля и Германии, активно обмениваемся опытом с зарубежными коллегами.	
				li.block-2__advantage
					img(src="/img/icu-monitor.png").block-2__advantage-image
					.block-2__advantage-inform
						h3.block-2__advantage-title Современные технологии
						p.block-2__advantage-par Мы предлагаем современные технологии восстановительного лечения в исполнении команды высокопрофессионального медицинского персонала.	
				li.block-2__advantage
					img(src="/img/ruble.png").block-2__advantage-image
					.block-2__advantage-inform
						h3.block-2__advantage-title Адекватные цены
						p.block-2__advantage-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 	