doctype
html
	head
		include ../../includes/common/head.pug
		+head('Правовая инофрмация', false)
	body
		include ../../includes/common/header.pug
		.nav.nav_dark
			.wrapper.wrapper_padding
				.nav__main
					ul.nav__list
						li.nav__item.sub-item.nav__item_show-sub
							a.nav__link.sub(href="/aboutCompany/") О КЛИНИКЕ
							.nav__submenu
								a.nav__sublink(href="/aboutCompany/") О клинике
								a.nav__sublink(href="/partners/") Партнеры
								a.nav__sublink(href="/questions/") Вопросы и ответы
						li.nav__item.sub-item.nav__item_show-sub
							a.nav__link.sub(href="/forPatients/") ПАЦИЕНТАМ
							.nav__submenu
								a.nav__sublink(href="/forPatients/") Пациентам
								a.nav__sublink(href="/articles/") Статьи
								a.nav__sublink(href="/comments/") Отзывы
								a.nav__sublink(href="/diagnostics/") Диагностика
								a.nav__sublink(href="/specialists/") Правовая информация
						li.nav__item
							a.nav__link(href="/specialists/") СПЕЦИАЛИСТЫ
						li.nav__item.sub-item.nav__item_show-sub
							a.nav__link.sub(href="/services/") УСЛУГИ
							.nav__submenu
								a.nav__sublink(href="/services/") Услуги
								a.nav__sublink(href="/price/") Прайс лист
						li.nav__item
							a.nav__link(href="/news/") НОВОСТИ
						li.nav__item
							a.nav__link(href="/contacts/") КОНТАКТЫ
					.nav__button.button ЗАПИСАТЬСЯ НА ПРИЕМ
		.breadcrumbs
			a(href="/") Главная
			a(href="/forPatients/") / Пациентам
			p / Правовая инофрмация
		include ../../includes/legal/legal.pug
		include ../../includes/common/footer.pug